{{ define "main" }}
          
<section class="page-banner">
  <div class="container">
    <h1>Bibliography</h1>
    
    <p class="intro">Explore the research sources and references used to document Blacksburg’s history.</p>
    
  </div>
</section>
<section class="section page-content">
  <div class="container">
    <div class="content-body">
      <p>https://blacksburgmuseum.org/ 
What Is Cultural Appropriation?
WDBJ 7 April 18
Students Staged a Walk-Out
Task for in the news Jan 29, 2001 taskforce 
Let’s Teach Respect, Not Racism
Native at VT
James C. Klagge, Finding a Mascot for a New Millennium
James C. Klagge, Conflicting Preferences: Politics and Morality
Special thanks to those who took the time to be interviewed on this topic.
The Pledge of Allegiance
United States George Washington Bicentennial Commission. 1932. Volume I: Literature Series
Integration of Public Schools in Blacksburg 
Black Education in Montgomery County, Virginia: 1939-1966. Tracy A. Martin. Virginia Tech Master Thesis. 1996. 
https://civilwar.vt.edu/christiansburg-institute/
Thorp, Daniel B. “The Beginnings of African American Education in Montgomery County.” The Virginia Magazine of History and Biography 121, no. 4 (2013): 314-345.
Martin, Tracy M. “Black Education in Montgomery County Virginia, Virginia, 1939-1966.” Master’s Thesis, Virginia Tech, 1996.
Long, Edgar A. “A Vision of Education”
Founding of the Virginia Public School System
Census Data 1870
Virginia Humanities
Census report 1910-1920
Civic Engagement in the Classroom
updated soon
Rural v. Town Divide
updated soon
Blacksburg Museum and Cultural Foundation – Blacksburg Museum and Cultural Foundation </p>

    </div>
  </div>
</section>

        
{{ end }}