{{ define "main" }}
          
<section class="page-banner">
  <div class="container">
    <h1>Sponsor</h1>
    
    <p class="intro">Partner with the museum to support exhibitions, education, and community outreach.</p>
    
  </div>
</section>
<section class="section page-content">
  <div class="container">
    <div class="content-body">
      <p>Sponsorship helps fund exhibits, education programs, and community initiatives. Discover how your organization can support the museum and amplify its impact.
        <p>Visit the <a href="https://blacksburgmuseum.org/sponsor/">Google Form</a> to sponsor.</p>
      </p>

    </div>
  </div>
</section>

        
{{ end }}