{{ define "main" }}
          
<section class="page-banner">
  <div class="container">
    <h1>Volunteer</h1>
    
    <p class="intro">Join our volunteer team to support museum programs and visitor services.</p>
    
  </div>
</section>
<section class="section page-content">
  <div class="container">
    <div class="content-body">
      <p>BM&CF Volunteer Application
Thank you for your interest in volunteering with the Blacksburg Museum & Cultural Foundation. Please note the following:

*  The Blacksburg Museum & Cultural Foundation has a policy of conducting background investigations for some volunteer positions. We will notify the applicant if a background check is necessary. 
*   Please complete all applicable information on the Volunteer Application.
*  Falsification of information on this Application may be grounds for denial of volunteer placement.
*  The BMCF is not obligated to provide placement, nor is the Applicant obligated to accept a position, if offered.
<p>Visit the <a href="https://blacksburgmuseum.org/volunteer/">Google Form</a> to volunteer.</p>
</p>

    </div>
  </div>
</section>

        
{{ end }}