{{ define "main" }}
          
<section class="page-banner">
  <div class="container">
    <h1>Donate</h1>
    
    <p class="intro">Support the museum by making a financial gift to preserve history and culture.</p>
    
  </div>
</section>
<section class="section page-content">
  <div class="container">
    <div class="content-body">
      <p>Blacksburg Museum & Cultural Foundation Members enjoy many benefits including advance ticket sales, discounts, and special invitations to Members-Only events and receptions. Best of all, members have a stake in Blacksburg Museum and Cultural Foundation’s past as well as its exciting future. Join or renew below at one of the following levels and see why members matter at BM&CF!
​For questions or more information about membership, please contact us at info@blacksburghistory.org or 540-443-1600.</p>

    </div>
  </div>
</section>

        
{{ end }}