<header class="site-header">
  <div class="container header-inner">
    <div class="brand">
      <a class="logo" href="{{ "/" | relURL }}">
        <div class="logo1">
          <img src="{{ "images/logo.png" | relURL }}" alt="museum picture">
        </div>
      </a>
      <p>{{ with .Params.hero.subtext }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}</p>
    </div>
    <nav class="site-nav">
      <a href="{{ "/" | relURL }}">Home</a>
      <a href="{{ "/exhibitions/" | relURL }}">Exhibitions</a>
      <a href="{{ "/visit/" | relURL }}">Visit</a>
      <a href="{{ "/support/" | relURL }}">Support</a>
      <a href="{{ "/museums/" | relURL }}">Museums</a>
      <a href="{{ "/contact/" | relURL }}">Contact</a>
    </nav>
  </div>
</header>
